/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1399px){
	html {
	    font-size: 55.5%;
	}
}
@media (min-width: 1400px) { 
	
}
@media (min-width: 1200px) {
 
	.container {
		max-width: 120rem;
	}

}

@media (max-width: 1199px) { 

	html {
        font-size: 48%;
    }

	.container {
		max-width: 100%;
	}

	.trending_wrapper .trending_active .owl-next {
		right: 0;
	}

	.trending_wrapper .trending_active .owl-prev {
		left: 0;
	}

}

@media (max-width: 991px) {

	footer {
	    padding: 4rem 0 6rem 0;
	}

}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767px) {
		
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575px) {
	.home_wrapper h1 {
	    font-size: 3.5rem;
	}

	.head_text {
	    font-size: 3rem;
	}
}
